services:
  redis:
    image: redis:latest
    container_name: django-template-redis
    restart: "no"
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16
    container_name: django-template-postgres
    env_file:
      - .env
    restart: "no"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django-template-backend
    command: sh entrypoint.sh
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

    # Memory management
    mem_limit: 2g
    mem_reservation: 1g
    memswap_limit: 3g
    restart: unless-stopped
    oom_kill_disable: false


  celery:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django-template-celery-worker
    command: celery -A project worker -l info
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - backend

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django-template-celery-beat
    command: celery -A project beat -l info
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: django-template-prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
    depends_on:
      - backend
      - celery
      - celery-beat

  grafana:
    image: grafana/grafana:latest
    container_name: django-template-grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus

volumes:
  postgres_data:
  prometheus_data:
  grafana_data:
